.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a:link {
  /* Applies to all unvisited links */
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  /* Applies to links under the pointer */
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

a:active {
  /* Applies to activated links */
  text-decoration: underline;
  font-weight: bold;
  background-color: burlywood;
  color: white;
}
