<!doctype html>
<mat-toolbar color="primary" class="example-toolbar">
  <span *ngIf="isLoggedIn">
    <button mat-button (click)="home()">
      <h1>{{title}}</h1>
    </button>
  </span>

  <span *ngIf="!isLoggedIn">
    <button mat-button (click)="away()">
      <h1>{{title}}</h1>
    </button>
  </span>

  <span class="example-spacer"></span>

  <div *ngIf="isLoggedin">
    <span>
      <a [routerLink]="['/home']" routerLinkActive="active">
        <i class="material-icons">home</i>
      </a>
    </span>

    <span class="example-spacer"></span>

    <span *ngIf="isAdmin">
      <a [routerLink]="['/create']" routerLinkActive="active">Add Records</a>
    </span>

    <span class="example-spacer"></span>

    <span *ngIf="isAdmin">
      <a [routerLink]="['/users']" routerLinkActive="active">Users</a>
    </span>

    <span class="example-spacer"></span>

    <span *ngIf="isAdmin || isUser">
      <a [routerLink]="['/list']" routerLinkActive="active">
        <i class="material-icons">view_list</i>All Records</a>
    </span>

    <button mat-button [matMenuTriggerFor]="menu">{{user.name}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

  </div>

  <div *ngIf="!isLoggedin">
    <button mat-button (click)="login()">Login</button>
    <button mat-button (click)="register()">Register</button>
  </div>

</mat-toolbar>
