<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex="70" class="card">

    <mat-card-header>
      <mat-card-title>List of Users</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <table>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>UserType</th>
        </tr>
        <tr *ngFor="let user of userInfo">
          <td>{{user._id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.userType}}</td>
          <td>
            <button mat-raised-button (click)="update(user)">Update</button>
          </td>
          <td>
            <button mat-raised-button (click)="deleteRecord(user._id,i)">Delete</button>
          </td>
        </tr>
      </table>
    </mat-card-content>

  </mat-card>
</div>
