<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex="100">
    <mat-card-header>
      <mat-card-title>
        <h1>
          <strong>
            Name of the School
          </strong>
        </h1>
      </mat-card-title>
      <mat-card-subtitle>
        <h2>Address</h2>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>This is the random content I have added to the school page and I'll be adding a lot more her in the future. There are
        many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
        injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
        of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem
        Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator
        on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures,
        to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition,
        injected humour, or non-characteristic words etc. This is the random content I have added to the school page and
        I'll be adding a lot more her in the future. There are many variations of passages of Lorem Ipsum available, but
        the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even
        slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
        hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
        necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined
        with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem
        Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc. This is the random
        content I have added to the school page and I'll be adding a lot more her in the future. There are many variations
        of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
        or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,
        you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators
        on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
        It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem
        Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour,
        or non-characteristic words etc. This is the random content I have added to the school page and I'll be adding a
        lot more her in the future. There are many variations of passages of Lorem Ipsum available, but the majority have
        suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
        If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
        the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
        making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
        a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum
        is therefore always free from repetition, injected humour, or non-characteristic words etc. This is the random content
        I have added to the school page and I'll be adding a lot more her in the future. There are many variations of passages
        of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
        words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be
        sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet
        tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary
        of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks
        reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic
        words etc. This is the random content I have added to the school page and I'll be adding a lot more her in the future.
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
        form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use
        a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All
        the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
        generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence
        structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from
        repetition, injected humour, or non-characteristic words etc.
      </p>
    </mat-card-content>
  </mat-card>
</div>
